.custom-alert .alert-message {
    text-align: center;
  }
  
  .custom-alert img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .custom-alert button {
    width: 60px;
    margin: 5px;
  }