<ion-header>
  <ion-toolbar color="danger">
    <ion-title>ลูกชิ้น</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToCart()">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-badge slot="end" color="light">{{ cart.length }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items" (click)="presentAlert(item)">
      <ion-thumbnail slot="start">
        <img [src]="item.image_url">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.item_name }}</h2>
        <p>ราคา: {{ item.price }} บาท</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
