<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button> <!-- ปุ่มย้อนกลับไปยัง tab1 -->
    </ion-buttons>
    <ion-title>สรุปออเดอร์</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="cart.length > 0">
    <ion-item *ngFor="let item of cart">
      <ion-label>
        <h2>{{ item.item_name }}</h2>
        <p>ราคา: {{ item.price }} บาท</p>
        <p>จำนวน: {{ item.quantity }}</p>
        <p>ราคารวม: {{ item.price * item.quantity }} บาท</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label>
      <h2>ยอดรวมทั้งหมด</h2>
    </ion-label>
    <ion-note slot="end">
      {{ totalAmount }} บาท
    </ion-note>
  </ion-item>

  <ion-button expand="block" color="primary" (click)="confirmOrder()">
    ยืนยันการสั่งซื้อ
  </ion-button>
</ion-content>